body {
    background-color: rgb(39, 37, 37);
}

h1 {
    color: white;
    font-family: sans-serif, serif;
    font-size: 100px;
    background-color: rgb(48, 44, 44);
    font-weight: 800;
    text-align: center;
    border-radius: 20px;
    border-style: groove;
}

.recipe-link {
    color: black;
    font-family: 'Times New Roman', Verdana, Geneva;
    font-size: 40px;
    text-align: justify;
}