*,
*::before,
*::after {
    box-sizing: border-box;
}

 * { 
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(39, 37, 37);
}

h1#recipeheading {
    color: white;
    font-family: sans-serif, serif;
    font-size: 100px;
    background-color: rgb(48, 44, 44);
    font-weight: bolder;
    text-align: center;
    margin: 5px 5px 10px;
    border: 2px inset rgba(245, 245, 245, 0.384);
    width: auto;
    height: auto;
}

.recipe-link {
    color:whitesmoke;
    font-family: serif, Verdana, Tahoma;
    font-size: 30px;
    margin-left: 75px;
    margin-right: 100px;
    padding: 2.5px;
    border: 1px hidden whitesmoke;
    width: 500px;
    height: auto;
}